.inst-box
  %header
    = f.label :description, 'Description'
    %span.desc
      A description of what services are offered at the location.
  = field_set_tag do
    = f.text_area :description, required: false, class: 'form-control', rows: 10