.inst-box
  %header
    %strong
      Availability
    %p.desc
      When and where is the service available?
  %p
    = availability_autocomplete_field_for(f)

  - for availability in @availabilities
    = render 'admin/locations/forms/availabilities_fields', f: f, availability: availability, location: availability.location

  - for location in @unassociated_locations
    = render 'admin/locations/forms/availabilities_fields', f: f, availability: @service.availabilities.build(), location: location, preselected: @preselected_locations.include?(location.id)