%h3 Service Providers

%p
  If you'd like to add your organisation and its services to our database, please complete the
  = link_to 'sign up form', admin_registration_path
  and we'll get back to you as soon as possible. If you've already got an account, you can
  = link_to 'sign in.', new_admin_session_path

%h3 Developers
%p
  If you're a developer looking to use our API, head over to the
  = link_to 'developer portal.', '/developers', class: ''