// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

.content {
  padding: 70px 10px 60px 10px;
  font-size: 16px;
  line-height: 1.428;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
fieldset.bordered {
  border: 1px solid #CCC;
  margin: 10px;
  border-radius:5px;
}
fieldset.bordered legend {
  font-size: 1em;
  margin-bottom: 0px;
  margin-left: 0.1em;
  padding: 5px;
  display: inline-block;
  border: none;
  width: auto;
  font-weight:bold;
}